<div class="row">
    <div class="col-xs-12 col-12 col-md-2 offset-lg-2 form-group">
        <form [formGroup]="bookForm" (ngSubmit)="book()" autocomplete="off">
            <label class="mb-2">Examination Date:</label>
            <input formControlName="date" type="text" placeholder="Pick a date" class="form-control" bsDatepicker [bsValue]="bsValue"
                [minDate]="minDate" [maxDate]="maxDate" [daysDisabled]="[6,0]"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD.MM.YYYY' }">
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Book</button>
                <a routerLink="/physicians" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-12 col-md-2 offset-lg-1">
        <img style="width: 42rem;" src="../../../../assets/bookAppointment.JPG" alt="">
    </div>
</div>