<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Welcome to MedApp!</h1>
        <hr>
        <p class="lead">Join and book your appointment now!</p>
        <div *ngIf="(accountService.currentUser$ | async) === null" class="text-center">
            <a routerLink="/register" class="btn btn-warning mb-2">Register</a>
        </div>
    </div>

    <div *ngIf="(accountService.currentUser$ | async)" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register></app-register>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <img style="width: 34rem;" src="../../../assets/welcome.JPG" alt="">
    </div>
</div>