<div class="row">
  <div class="col-4 offset-lg-4">
    <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
      <h2 class="text-center text-primary">Sign Up</h2>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control mb-2" name="username" [(ngModel)]="model.username" placeholder="Johnny...">
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control mb-2" name="age" [(ngModel)]="model.age" placeholder="29">
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio"name="gender" [(ngModel)]="model.gender" value="Male">
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" [(ngModel)]="model.gender" value="Female">
              <label class="form-check-label" >Female</label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control mb-2" name="password" [(ngModel)]="model.password" placeholder="*************">
      </div>
      <button type="submit" class="btn btn-primary me-2">Register</button>
      <a routerLink="/home" class="btn btn-warning">Cancel</a>
    </form> 
  </div>
</div>
